{% extends "patient/layout.html" %}
{% block content %}

<h2 class="page-title">Welcome, </h2>

<div class="patient-actions">

    <a href="{{ url_for('patient_bp.profile') }}" class="btn big-btn">View Profile</a>
    <a href="{{ url_for('patient_bp.view_images') }}" class="btn big-btn">View Medical Images</a>
    <a href="{{ url_for('patient_bp.view_reports') }}" class="btn big-btn">View Diagnosis Reports</a>
    <a href="{{ url_for('patient_bp.billing') }}" class="btn big-btn">Billing & Costs</a>

    

</div>

{% endblock %}
