<!DOCTYPE html>
<html>
<head>
    <title>Patient Portal</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/patient.css') }}">
</head>
<body>

<nav class="navbar">
    <h1>Patient Portal</h1>
    <div class="nav-links">
        <a href="{{ url_for('patient_bp.dashboard') }}">Home</a>
        <a href="{{ url_for('patient_bp.profile') }}">Profile</a>
        <a href="{{ url_for('images_bp.view_images') }}">Images</a>
        <a href="{{ url_for('patient_bp.view_reports') }}">Reports</a>
        <a href="{{ url_for('billing_bp.billing_patient') }}">Billing</a>
        <a href="{{ url_for('auth_bp.logout') }}">Logout</a>
        
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
