{% extends "radiologist/layout.html" %}
{% block content %}

<h2 class="page-title">My Reports</h2>

<table class="table">
    <thead>
        <tr>
            <th>Patient</th>                 
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for r in reports %}
        <tr>
            <td>{{ r.patient.first_name }} {{ r.patient.last_name }}</td>          
            <td>{{ r.created_at.strftime('%Y-%m-%d %H:%M') }}</td>
            <td>
                <a href="{{ url_for('staff_bp.create_report', image_id=r.image.id) }}" class="btn small">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
