{% extends "doctor/layout.html" %}
{% block content %}

<h2 class="page-title">Search Patient</h2>

<form method="GET" action="{{ url_for('staff_bp.profile') }}" class="search-box">
    <input type="text" name="q" placeholder="Enter Patient ID or Name" required>
    <button type="submit">Search</button>
</form>

{% if patients %}
    <table class="table">
        <tr>
            <th>Patient ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>

        {% for p in patients %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.first_name }} {{ p.last_name }}</td>
            <td>
                <a href="{{ url_for('staff_bp.profile', id=p.id) }}">View</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% if message %}
<p>{{ message }}</p>
{% endif %}

{% endblock %}
